@font-face {
    src: url('../fonts/Norse-Bold.ttf');
    font-family: 'Norse';
}

body {
    display: flex;
    margin: 0;
    padding: 0;

    background-color: #474747;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Left Side of the Page */
#left-side-background {
    display: flex;
    position: relative;

    margin-left: 240px;
}

#left-side-background > img {
    display: flex;
    width: 530px;
    height: 100%;
}

#left-side-logo {
    position: absolute;

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 170px;

    bottom: 580px;

    background-color: rgb(0, 0, 0, 0.35);
}

#left-side-logo img {
    height: 75%;
}

.logo-text {
    color: #F8F8FF;
    font-size: 78px;
    font-family: 'Norse', serif;
}

/* Right Side of the Page */
#right-side-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    width: min(670px);

    margin-right: 240px;

    font-family: sans-serif;
    
    color: #383838;
}

.sign-up-position,
.button-links-position,
.hero-position {
    position: absolute;
    left: 48px;
}

/* hero text */
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1.2 0 auto;

    padding-bottom: 20px;

    background-color: #F5F5F5;
}

.hero-text p {
    flex-wrap: wrap;

    font-size: 22px;
    font-weight: 600;
}


/* sign-up form */
.sign-up-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    background-color: white;
}

.sign-up-form p {
    font-size: 22px;
    font-weight: 550;
    padding: 16px 0px;
    margin: 0;
}

.sign-up-form form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 20%;

    width: min(600px);
    height: min(160px);

    margin: 12px 0px 24px 0px;
}

.sign-up-form form div {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

.sign-up-form input {
    position: relative;

    font-size: 16px;
    height: 28px;
    width: 240px;
    border: 1px solid lightgray;
    border-radius: 3px;


    background-color: #fdfdff;

    padding: 8px 8px 6px 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.sign-up-form input:focus {
    border: 1px solid blue;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    transition: 0.5s;
    outline: none;
}

.sign-up-form input + span {
    position: relative;
}

.sign-up-form input + span::after {
    position: absolute;
    font-size: 0.7em;
    font-weight: 600;
    color: #4e4e4e;

    letter-spacing: 0.1em;
    
    width: 200px;
    
    padding: 10px 10px;
    top: -40px;
    left: -250px;
}

.sign-up-form input[id="first-name"] + span::after {
    content: "FIRST NAME";
}

.sign-up-form input[id="last-name"] + span::after {
    content: "LAST NAME";
}

.sign-up-form input[id="email"] + span::after {
    content: "EMAIL";
}

.sign-up-form input[id="phone-number"] + span::after {
    content: "PHONE NUMBER";
}

.sign-up-form input[id="user-pw"] + span::after {
    content: "PASSWORD";
}

.sign-up-form input[id="pw-confirm"] + span::after {
    content: "CONFIRM PASSWORD";
}

/* button and links */
.button-links {
    flex: 1 0 auto;

    background-color: #F5F5F5;
    box-shadow: inset 0 8px 6px -6px #A9A9A9;

    padding-top: 30px;
}

.button-links p {
    padding-top: 12px;
    font-size: 1.1em;

    font-weight: 500;
}

.button-links a,
.button-links a:hover,
.button-links a:focus,
.button-links a:active {
    text-decoration: none;
    color: #2F4F4F;
}

input[id="create-account"] {
    font-size: 18px;
    font-weight: 900;

    color: #F5F5F5;
    background-color: #2F4F4F;
    box-shadow: 0 0 0.4em #2F4F4F;

    width: 240px;
    height: 45px;

    border-radius: 8px;
    border: none;

}